html
  head
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="menu.css")
    title= title
  body
    #header
      !=header
    #left
      !=left
    #center
      h3!=center_title
      br
      br
      h3!=center_body
    #right
      !=right
    #footer
      =footer
